html, body {
    margin: 30px 30px 30px 80px;
    padding: 0;
    font-family: Tahoma, Geneva, sans-serif;
}

.container {
    max-width: 350px;
}
input[type="checkbox"] {

}
button{
    background-color: burlywood;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline;
    cursor: pointer;
    width: 171px;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
}
.dropdown {
    margin: 20px 0;
    cursor: not-allowed;
    position: relative;
    outline: none;
}
.dropdown-head {
    border: 1px solid lightgrey;
    width: 100%;
    padding: 15px 10px;
    position: relative;
    box-sizing: border-box;
    color: #aaa;
}
.active .dropdown-head:hover {
    border-width: 2px;
    padding: 14px 9px;
}
.active {
    cursor: pointer;
}
.active .dropdown-head {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: grey;
}
.active.error .dropdown-head {
    border-bottom: 2px solid red;
}
.active.correct .dropdown-head {
    border-bottom: 2px solid green;
}
.dropdown-head img {
    position: absolute;
    right: 10px;
    top: 23px;
    width: 10px;
}
.open .dropdown-head img {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.dropdown-head i {
    position: absolute;
    left: 10px;
    top: -9px;
    background-color: white;
    font-size: 12px;
    padding: 0 4px;
    font-style: normal;
}
.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-top: 0;
    box-sizing: border-box;
    z-index: 100;
    margin-bottom: 100px;
}
.dropdown-list p {
    padding: 10px;
    margin: 0;
    color: #555;
}
.dropdown-list p:hover {
    background-color: #fafafa;
    padding: 10px;
    color: black;
}