<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>
<body ng-app="allegroTask" ng-controller="AppCtrl">

<script src="https://code.angularjs.org/snapshot/angular.min.js"></script>
<script src="js/main.js"></script>
<script src="js/dropdown.js"></script>

<div class="container">
    <input class="ada" type="checkbox" ng-model="active" /> Active?<br><br>
    <button ng-click="selectedMonth = 'Marzec'">Prefill dropdown</button>
    <button ng-click="selectedMonth = null">Clear dropdown</button><br/><br/><br/>
    <dropdown active="active" label="'Month'" data="months" model="selectedMonth"></dropdown>
</div>

</body>
</html>
