<div class="dropdown" ng-class="{active: $ctrl.active, error: $ctrl.checkError(), correct: $ctrl.validate(), open: $ctrl.showOptions}" ng-blur="$ctrl.closeOptions()" tabindex="-1">
    <div class="dropdown-head" ng-click="$ctrl.openOptions()">
        <i ng-if="$ctrl.model">{{$ctrl.label}}</i>
        <span ng-if="!$ctrl.model">{{$ctrl.label}}</span>
        <span ng-if="$ctrl.model">{{$ctrl.model}}</span>
        <img src="img/dropdown-arrow.png" />
    </div>
    <div class="dropdown-list" ng-if="$ctrl.showOptions">
        <p ng-click="$ctrl.setModel(row)" ng-repeat="row in $ctrl.data">{{row}}</p>
    </div>
</div>